<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Regalo Perfetto!</name>

<description>
Trova il regalo perfetto!
</description>

<author href="https://www.andreafortuna.org" email="andy@andreafortuna.org">
Andrea Fortuna
</author>

</widget>
